.YoutubePlayer {
  position: relative;
  width: 100%;

  aspect-ratio: 16 / 9;

  & :where(lite-youtube, iframe) {
    max-width: 100%; /* fix default style */
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    display: block;
  }
}
