# Credentials & Environment Variables
.gcp
.env

# Node.js
lib-cov
lcov.info
pids
logs
results
node_modules
.node_history

# Strapi
cms/license.txt
cms/exports
cms/*.cache
cms/dist
cms/build
cms/.strapi-updater.json
cms/*.sql
cms/*.sqlite
cms/*.sqlite3

# Next.js
frontend/.next
frontend/out
frontend/build
frontend/next-env.d.ts
frontend/.vercel

# Typescript
*.tsbuildinfo

# Logs
.tmp
*.log

# MacOS
.DS_Store
.AppleDouble
.LSOverride
Icon
.Spotlight-V100
.Trashes
._*

# Windows
Thumbs.db
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/
*.cab
*.msi
*.msm
*.msp

# Linux
*~

