.cardLink {
  --accent-color: red;
  outline-color: var(--accent-color);

  &:focus-visible,
  &:hover {
    .thumbnail {
      transform: scale(1.05);
    }

    .frame::after {
      opacity: 0;
    }
  }
}

.frame {
  overflow: hidden;
  background: #000;

  &::after {
    content: "";
    position: absolute;
    inset: 0;
    mix-blend-mode: color;
    background: var(--accent-color);
    pointer-events: none;
    opacity: 1;
    transition: opacity 0.2s ease-in;
  }
}

.thumbnail {
  object-fit: cover;
  transition: transform 0.2s ease-out;
}

.text {
  position: absolute;
  inset: 0px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 1rem;
  color: white;
  z-index: 1;
  background: linear-gradient(
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.3) 30%,
    rgba(0, 0, 0, 0.6) 60%,
    rgba(0, 0, 0, 0.9) 90%
  );
}
