@keyframes scanlines {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 5px;
  }
}

.section {
  position: relative;

  &:has(.afovLogoGroup:hover) .scanLinesOverlay {
    opacity: 1;

    &::after {
      opacity: 1;
      animation: scanlines 0.5s linear infinite;
    }
  }
}

:global(html.light) .section:has(.afovLogoGroup:hover) .scanLinesOverlay {
  opacity: 0.5;
}

.afovLogoGroup {
  position: relative;
  width: 40%;
  min-width: 200px;
  transition: transform 0.2s ease-in-out;

  isolation: isolate;

  &:hover {
    transform: scale(1.02);

    .afovLogoTop {
      opacity: 0;
    }

    .afovLogoLayer {
      opacity: 1;
    }

    .layer1 {
      transform: scale(0.96);
      filter: blur(1.5px);
    }

    .layer3 {
      transform: scale(1.04);
      filter: blur(1.5px);
    }
  }
}

.afovLogoTop {
  position: relative;
  opacity: 1;
  transition: all 0.2s ease-in-out;
}

.afovLogoLayer {
  transition: all 0.2s ease-in-out;
  position: absolute;
  inset: 0;
  opacity: 0;
}

:global(html.light) .afovLogoLayer {
  mix-blend-mode: multiply;

  &.layer1 {
    color: red;
  }

  &.layer2 {
    color: green;
  }

  &.layer3 {
    color: blue;
  }
}

:global(html.dark) .afovLogoLayer {
  mix-blend-mode: screen;

  &.layer1 {
    color: red;
  }

  &.layer2 {
    color: lightgreen;
  }

  &.layer3 {
    color: blue;
  }
}

.heading {
  position: relative;
  z-index: 1;
}

.scanLinesOverlay {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  transition: opacity 0.2s ease-in-out;
  background-image: url("/images/noise-swatch.png");
  background-size: 200px;
  opacity: 0;

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transform-origin: center;
    background-size: 100% 5px;
    background-position-y: 0px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 50%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0.05)
    );
  }
}
