@keyframes scanlines {
  0% {
    background-position-y: 0px;
  }
  100% {
    background-position-y: 5px;
  }
}

.brand-hero {
  position: relative;

  &:has(.afov-logo-group:hover) {
    .brand-hero-overlay {
      opacity: 1;

      &::after {
        opacity: 1;
        animation: scanlines 0.5s linear infinite;
      }
    }
  }
}

.afov-logo-group {
  position: relative;
  width: 40%;
  min-width: 200px;
  isolation: isolate;
  transition: transform 0.2s ease-in-out;
  pointer-events: auto;
  isolation: isolate;

  .afov-logo-layer {
    position: relative;
    transition: transform 0.2s ease-in-out;

    &:first-child,
    &:last-child {
      position: absolute;
      inset: 0;
    }
  }

  &:hover {
    .afov-logo-layer:first-child {
      transform: scale(0.96);
      filter: blur(1.5px);
    }

    .afov-logo-layer:last-child {
      transform: scale(1.04);
      filter: blur(1.5px);
    }
  }
}

.brand-hero-heading {
  position: relative;
  z-index: 1;
}

.brand-hero-overlay {
  content: "";
  pointer-events: none;
  position: absolute;
  inset: 0;
  transition: opacity 0.2s ease-in-out;
  background-image: url("/images/noise-swatch.png");
  background-size: 200px;

  &::after {
    content: "";
    pointer-events: none;
    position: absolute;
    inset: 0;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
    transform-origin: center;
    background-size: 100% 5px;
    background-position-y: 0px;
    background-image: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.05),
      rgba(0, 0, 0, 0.05) 50%,
      rgba(255, 255, 255, 0.05) 50%,
      rgba(255, 255, 255, 0.05)
    );
  }
}

html.light {
  .brand-hero-overlay {
    opacity: 0.5;
  }

  .afov-logo-layer {
    mix-blend-mode: multiply;
    color: green;

    &:first-child {
      color: red;
    }

    &:last-child {
      color: blue;
    }
  }
}

html.dark {
  .afov-logo-layer {
    mix-blend-mode: screen;
    color: lightgreen;

    &:first-child {
      color: red;
    }

    &:last-child {
      color: blue;
    }
  }
}
