.debug {
  border: dashed red 1px;
}

.hide-from-dark {
  @mixin dark {
    display: none;
  }

  @mixin light {
    display: block;
  }
}

.hide-from-light {
  @mixin light {
    display: none;
  }

  @mixin dark {
    display: block;
  }
}
