.AppLayout {
  --app-navigation-border: 1px solid var(--mantine-color-dark-5);
}

.AppLayoutHeader {
  border-bottom: var(--app-navigation-border);
}

.AppLayoutFooter {
  border-top: var(--app-navigation-border);
}
