.header {
  position: sticky;
  top: 0;
  padding: 1rem;
  background: var(--gray-1);
  border-bottom: solid 1px var(--gray-3);
  z-index: 10000;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.logo {
  flex: 0 0 100px;
}

@media (max-width: 767px) {
  .closed {
    display: none;
  }

  .menu {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    height: 100vh;
    background: var(--gray-1);
    border-top: solid 1px var(--gray-3);

    & a {
      display: flex;
      gap: 1rem;

      .linkIcon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-left: 1rem;
      }

      .linkLabel {
        flex: 1;
        font-weight: bold;
        padding: 1rem 1rem 1rem 0;
        border-bottom: solid 1px var(--gray-3);
      }
    }

    &.closed {
      opacity: 0;
      & a {
        opacity: 1;
      }
    }
  }
}

@media (min-width: 768px) {
  .logo {
    flex: 0 0 120px;
  }

  .menu {
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    flex: 1;
  }

  .menuButton {
    display: none;
  }

  .linkIcon {
    display: none;
  }
}
